<%= render 'shared/page_title', title: "All Marketers" %>

<ul class="nav nav-tabs">
  <li>
    <%= link_to "Ideas", ideas_path %>
  </li>
  <li class="active">
    <%= link_to "Marketers", marketers_path %>
  </li>
</ul>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= will_paginate %>
  </div>
</div>

<% @marketers.each do |marketer| %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 center">
      <%= link_to gravatar_for(marketer, size: 200), marketer_path(marketer) %>
      <p>
        <h5>Marketer name: <%= marketer.marketername %></h5>
      </p>
    </div>
  </div>

<% end %>