<%= render 'shared/page_title', title: @idea.name %>

<div class="row">
  <div class="col-md-4 pull-right center">
    <%= link_to gravatar_for(@idea.marketer, size: 200), marketer_path(@idea.marketer) %>
    <p>
      <h5>Brought to you by: <%= @idea.marketer.marketername %></h5>
    </p>
  </div>
  <div class="col-md-8">
    <% if logged_in? and (@idea.marketer == current_user || current_user.admin?) %>
      <%= link_to "Edit this idea", edit_idea_path(@idea), class: "btn btn-success pull-right" %>
    <% end %>  
    <% if logged_in? and current_user.admin? %>
    <%= link_to "[Delete idea]", @idea, method: :delete, data: {confirm: "Are you sure you want to delete this idea?"} %>
    <% end %>
    <h3><%= @idea.summary %></h3>
    <div class="show_idea">
      <%= image_tag(@idea.picture.url, class: "gravatar") if @idea.picture? %>
    </div>
    <div class="well">
      <p>
          <strong>Steps:</strong>
      </p>
      <%= simple_format(@idea.description) %>
      <div class="pull-right">
        <%= link_to like_idea_path(@idea, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= @idea.thumbs_up_total %>
        <% end %> &nbsp&nbsp&nbsp&nbsp
        <%= link_to like_idea_path(@idea, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= @idea.thumbs_down_total %>
        <% end %>
      </div>
    </div>
  </div>
</div>
    <p>
      <h5><b><%= @idea.reviews.count %> Reviews on marketer <%= @idea.marketer.marketername %>'s <%= @idea.name %></b></h5>
       </p>
   <% if @idea.reviews.any? %>
  <div class="row">
    <div class="col-md-6 pull-left center">
      <div class="well">
        <h2></h2>
        <% @idea.reviews.each do |c| %>
          <p align= "left">
            <b>Review:</b>
              <%=h c.body %>
          </p>
          <p align= "left">
            <b>Reviewer:</b>
            <%=h c.marketer.marketername %>
          </p>
          
          <hr>
        <% end %>
      
      </div>
    </div>
  </div>
<% end %>



<% if logged_in? %>
<%= render 'shared/errors', obj: @idea %>
    <h3>Add a Review</h3>
  <div class="row">
    <div class="col-md-6 pull-left center">
      <div class="well">
      <%= form_for([@idea, @idea.reviews.build]) do |f| %>

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "Add your review" %>
  </p>
<% end %>
      </div>
    </div>
  </div>
<% end %>    

<h5><%= link_to "Return to Ideas Listing", ideas_path, class: "btn btn-warning btn-small" %></h5>
